<div align="center">
    <h3>Сгенерированный массив</h3>
    <p>
        @foreach (int number in ViewBag.Array)
        {
            <text> @number, </text>
        }
    </p>
    <h3>
        Сумма всех неотрицательных элементов, стоящих на четных местах:
    </h3>
    <p>
        @ViewBag.Sum
    </p>
</div>